{% extends 'base.html' %}
{% load octopus_tags %}

{% block content %}

{% if not octopusdash_settings.INCLUDE_ALL_APPS %}


<div class="p-6 bg-gray-900 border border-gray-800 rounded-lg my-8">
    <h1 class="text-3xl font-semibold text-white">Registered Applications</h1>
    <p class="text-gray-400 mt-2">OctopusDash only displays apps whose models you've explicitly registered.</p>

    <!-- Coming Soon Alert -->
    
    <div class="mt-3">
        {% with message__content="Feature coming soon: full management for Django & Third Party Applications "  %}
        {% include 'messages/info_message.html' %}        
        {% endwith %}
    </div>
        
</div>

{% endif %}

<h1 class="text-2xl font-bold text-white mt-10 mb-6">Applications</h1>
<div class="grid lg:grid-cols-5 gap-6">
    {% for app_config, app_data in registry.items %}
    <div class="p-6 card bg-gray-900 rounded-xl shadow-md hover:shadow-lg transition-all">
        <div class="text-center">
            <h2 class="text-xl font-semibold text-white truncate">{{ app_config.label.title }}</h2>
            <p class="text-6xl font-extrabold text-indigo-300 mt-4">{{ app_data.models|length }}</p>
            <p class="text-sm text-indigo-200 uppercase tracking-widest mt-1">Models</p>
        </div>

        <div class="mt-6 flex justify-between">
            <a href="{% url 'app-view' app_config.label %}" class="inline-flex w-full text-center justify-center items-center gap-1 px-4 py-2 text-sm font-medium bg-gray-800 hover:bg-indigo-700 text-white rounded-md transition">
                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6.75l7.5 7.5-7.5 7.5" />
                </svg>
                Manage
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
