<!-- octopusdash/templates/octopusdash/dashboard.html -->
{% load static %}

<!DOCTYPE html>
<html id="htmlRoot" lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} octopusdash </title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'octopusdash/logo/32.svg' %}">
    <link href="{% static 'octopusdash/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'octopusdash/js/gsap.min.js' %}"></script>
    <script src="{% static 'octopusdash/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'octopusdash/js/fontawesome.js' %}"></script>
    <script src="{% static 'octopusdash/js/chart.js' %}"></script>
    <link href="{% static 'octopusdash/css/tailwindcss.css' %}" rel="stylesheet">
    <!-- GridStack CSS -->
    <link href="https://cdn.jsdelivr.net/npm/gridstack@9.2.0/dist/gridstack.min.css" rel="stylesheet" />
    <!-- GridStack JS -->
    <script src="https://cdn.jsdelivr.net/npm/gridstack@9.2.0/dist/gridstack-all.min.js"></script>
</head>

<body class="">
    <main class="bg-gray-950 grid lg:grid-cols-[310px_1fr] text-gray-100 justify-center h-screen overflow-x-hidden">
        <!-- Sidebar -->
        {% include 'partials/sidebar.html' %}
        <!-- Page content -->
        <div class="w-full h-full">
            {% include 'partials/navbar.html' %}
            <!-- Navbar -->
                <div class="lg:p-10 p-5">
                    {% include 'partials/breadcrumb.html' %}
                    {% block content %} {% endblock %}
                </div>
        </div>
    </main>
</body>

<script>
    (function () {
        const html = document.getElementById('htmlRoot');

        // 1. Check localStorage
        const savedTheme = localStorage.getItem('theme');

        if (savedTheme === 'dark') {
            html.classList.add('dark');
        } else if (savedTheme === 'light') {
            html.classList.remove('dark');
        } else {
            // 2. Fallback to system preference
            if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                html.classList.add('dark');
            } else {
                html.classList.remove('dark');
            }
        }
    })();
</script>

</html>