db.sqlite3
.env
node_modules
venv
package.json
package-lock.json
tailwindcss.config.js
*/__pycache__
octopusDash/README.md
octopusDash/setup.py
octopusDash/setup.cfg
octopusDash/MANIFEST.in
octopusDash/dist
octopusDash/octopus_dash.egg-info