<nav aria-label="breadcrumb" class="my-3 mb-5">
    <ol class="flex space-x-2 text-sm text-neutral-200">
        {% for part in path %}
        <li class="flex items-center">
            {% if not forloop.last %}
            <a href="{{ part.url }}" class="text-neutral-400 hover:text-neutral-600">{{ part.name }}</a>
            <span class="mx-2">/</span>
            {% else %}
            <span class="font-semibold text-neutral-100">{{ part.name }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</nav>