/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */


body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
}

.font-inter,*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

main{
    grid-template-columns: 280px 1fr;

}

.z-1{
    z-index: 1;
}

.absolute{
    z-index: 1;
}


canvas{
    height: 15rem !important;
}

html.dark .trix-button-group{
    background-color: var(--slate-600) !important;
    border-color: var(--slate-600) !important;
}

html.dark .trix-button-group .trix-button{
    border-color: var(--slate-600) !important;
}
html.dark trix-editor{
    background-color: var(--slate-800) !important;
    border-color: var(--slate-700);
}

.attachment__progress{
    display: none !important;
}