@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


body{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

main{
    grid-template-columns: 250px 1fr;

}

#profile-menu {
    display: none; /* Hidden initially */
    position: absolute;
    top: 100%; /* Adjust based on your layout */
    left: 0;
    z-index: 10;
}
