
{% include 'octopusdash/fields/Label.html' with widget=widget %}
<input  

{% include 'django/forms/widgets/attrs.html' %}

{% include 'octopusdash/fields/attrs.html' with widget=widget %}

{% if widget.value == 'True' or widget.value == True or widget.value == 'true' %}
    checked
{% endif %}

class="od-switch"
>
<script>
    document.getElementById("{{widget.attrs.id}}").addEventListener("click",(e)=>{
        if(e.target.checked){
            e.target.value = 'true'
        }else{
            e.target.value = 'false'
        }
    })
</script>