{% load octopus_tags %}
{% with model_config.get_fields_metadata as fmetadata %}
{{ fmetadata }}
<form method="post" >
    {% csrf_token %}
    <div class="grid lg:grid-cols-1 gap-5">
        {% for field in form %}
        {{field.field.editable}}
            {% get_field_metadata field as metadata %}
            <!-- Use the custom tag to get the metadata of the field -->
            {% if metadata.widget_type == 'PasswordInput' %}
            {% include 'octopusdash/fields/PasswordInput.html' %}
            {% elif metadata.widget_type == 'TextInput' %}
            {% include 'octopusdash/fields/TextInput.html' %}
            {% elif metadata.widget_type == 'DateTimeInput' %}
            {% include 'octopusdash/fields/DateTimeInput.html' %}
            {% elif metadata.widget_type == 'Textarea' %}
            {% include 'octopusdash/fields/TextArea.html' %}
            {% elif metadata.widget_type == 'Select' %}
            {% include 'octopusdash/fields/Select.html' %}
            {% elif not metadata.widget_type and metadata.field_type == 'ForeignKey' %}
            {% include 'octopusdash/fields/Select.html' %}
            
            {% else %}
            <div class="space-y-3" >
                {{field.label}}
                {{metadata}}
                {{field}}
            </div>
            {% endif %}
        {% endfor %}
    </div>

    
    {% for field in form  %}
    {% get_field_metadata field as metadata %}
    {% if metadata.widget_type == 'SelectMultiple' %}
        <div>
        {% include 'octopusdash/fields/SelectMultiple.html' %}
        </div>
    {% endif %}
    {% endfor %}
        

    <button class="p-3 bg-blue-500 text-white hover:bg-blue-600 rounded px-5" type="submit">Submit</button>
</form>
{% endwith %}