{% extends 'base.html' %}


{% block content %}

{% if messages %}
    <div id="messages" class="my-3 bg-green-50 text-green-600 p-2 rounded border border-green-600">
        
        {% for message in messages  %}
            {{message}}
        {% endfor %}
            
    </div>
    <script>
        setTimeout(() => {
            document.getElementById("messages").remove();
        }, 4000);
    </script>
{% endif %}
    
<h1 class="text-2xl">Create new  {{model_name}} </h1>
<form method="post" class="space-y-5 my-5">
    {% csrf_token %}
    {% for field in form  %}
        <div class="space-y-2">
            {{field.label}}
            {% if field.errors %}
                <ul class="space-y-3">
                    
                    {% for error in field.errors  %}
                        <li class=" text-rose-600 p-2 "> {{error}} </li>
                    {% endfor %}
                        
                </ul>
            {% endif %}
            {{field}}
        </div>
    {% endfor %}
        <input type="hidden" name="__success__">
        <div class="flex items-center gap-3">
            <button id="save" class="bg-blue-500 text-white p-2 px-4 rounded"> Save </button>
            <button id="save-add" class="bg-blue-700 text-white p-2 px-4 rounded"> Save and add another </button>

        </div>
</form>

<script>
    document.getElementById("save-add").addEventListener("click",function(){
        document.querySelector("[name=__success__]").value = "save-add"
    })
</script>

{% endblock content %}
