<div class="flex items-center justify-between my-5">
    <div class="text-sm text-gray-500 flex items-center gap-2"> Showing <span class="text-gray-100"> 1-10 </span> of <span class="text-gray-100"> {{objects|length}} </span> results </div>

    <div class="flex justify-center mt-4">
        <nav class="inline-flex shadow-sm rounded-md overflow-hidden text-sm text-gray-300 bg-gray-800">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"
                    class="px-3 py-2 hover:bg-gray-700 transition">Previous</a>
            {% else %}
                <span class="px-3 py-2 text-gray-500 bg-gray-900 cursor-not-allowed">Previous</span>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="px-3 py-2 bg-indigo-600 text-white font-semibold">{{ num }}</span>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}" class="px-3 py-2 hover:bg-gray-700 transition">{{ num }}</a>
                {% elif num == 1 or num == page_obj.paginator.num_pages %}
                    <a href="?page={{ num }}" class="px-3 py-2 hover:bg-gray-700 transition">{{ num }}</a>
                {% elif forloop.first or forloop.last %}
                    <span class="px-3 py-2">...</span>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                    class="px-3 py-2 hover:bg-gray-700 transition">Next</a>
            {% else %}
                <span class="px-3 py-2 text-gray-500 bg-gray-900 cursor-not-allowed">Next</span>
            {% endif %}
        </nav>
    </div>

</div>