{% extends 'octopusdash/base.html' %}

{% block content %}

<div class="w-full p-3 items-center gap-3  rounded-t flex justify-between"> 
    <h1 class="text-xl font-bold"> {{ model_admin.meta.verbose_name_plural.title }} </h1>
    <a href="{% url 'create-object' app_name model_admin.model_name %}" class="bg-gradient-to-r text-white from-indigo-500 to-purple-600 p-3 rounded-md"> 
        Add new {{ model_name }} 
    </a>
</div>

<div class="mt-10">
    {% include 'octopusdash/dynamic/context/search_and_filter.html' %}
    
    {% if model_admin.list_display %}
        {% include 'octopusdash/dynamic/table.html' %}
    {% else %}
        {% include 'octopusdash/dynamic/objects_list.html' %}
    {% endif %}

    {% include 'octopusdash/dynamic/paginator.html' %}
</div>

{% endblock content %}



{% if objects %}
{% block script %}
<script>
    const selectAllObjectsBtn = document.getElementById("select-all-objects");
    const removeSelectedObjectsBtn = document.getElementById("remove-all-selected-objects");
    let toggleAllCheckbox = document.getElementById("checkbox-toggle-all");
    let checkboxObjects = document.querySelectorAll(".checkbox-object-item");
    const dispatchSelectedItems = (target,store)=>{
                if(target.checked){
                    store.dispatch({
                        type:'ADD_TO_SELECTED',
                        payload:target.dataset.id,
                    })
                }else{
                    store.dispatch({
                        type:'REMOVE_FROM_SELECTED',
                        payload:target.dataset.id,
                    })
                }
            }

    // Add event listenr to the checkboxes 
    document.addEventListener("DOMContentLoaded",()=>{
        if(window.store){
            checkboxObjects.forEach((checkbox)=>{
            dispatchSelectedItems(checkbox,window.store)
            checkbox.addEventListener("click",(e)=>{
                dispatchSelectedItems(e.target,window.store)
            })
        })
        }
    })
</script>
{% endblock script %}
{% endif %}
    